:root {
    --height: 0;
    --left: 0;
    --bottom: 0;
}

$ff-josefin: 'JosefinSans-Regular', 'sans-serif';
$ff-champ: 'Champagne-Limousines', 'sans-serif';
$ff-moderna: 'Moderna', 'sans-serif';

$color-blue: #08979F;
$color-yellow: #FAC84F;